html{
    scroll-behavior: smooth;
}
body{
    background-color: #19270d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; 
    width: auto;
    background-color: #485e2d;
}
main{
    width: auto;
    margin: 20px auto;
    padding: 20px;
}
section{
    background-color: #284219c9;
    border: 3px solid;
    border-color: #485e2d;
}
section ul{
    color: #d4e8c2;
}
nav{
    background-color: #111a09;
    padding: 10px 20px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #818c3c;
}
a:hover{
    color: #8b0000;
}
h2{
    color: #818c3c;
    text-align: center;
}
h3{
    color: #818c3c;
}
p{
    color: #d4e8c2;
}
img{
    width: 250px;
    /*Centrar*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}
footer{
    background-color: #111a09;
    padding: 15px;
    margin-top: 30px;
    width: auto;
    color: #818c3c;

    display: flex;
    flex-direction: column;
    align-items: center;
}
details{
    color: #d4e8c2;
}